@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Heebo:wght@100;200&family=Titillium+Web:wght@200;300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(248, 248, 248);
    overflow-x: hidden;
}

header {
    display: flex;
    height: 7rem;
    padding: 0 6rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(38, 44, 67);
}

header>h1 {
    min-height: 1.5rem;
    min-width: 1.5rem;
    border: 4px solid #eee;
    border-radius: 50%;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

header nav ul>li {
    list-style: none;
    margin: 1.75rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 13px;
}

header nav ul>li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

header nav ul>li a:hover {
    color: #eee;
}

.sign-up a {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    color: #eee;
}

.hamburger {
    display: none;
}

.hamburger span {
    display: inline-block;
    display: flex;
    width: 1.5rem;
    height: .5rem;
    border-top: 3px solid #eee;
}

.intro {
    display: flex;
    height: 34rem;
    padding: 0 7rem;
    background-color: rgb(38, 44, 67);
    color: #eee;
    padding-top: 5rem;
}

.intro section:first-child {
    width: 45%;
}

.intro section:last-child {
    width: 55%;
}

.intro section:first-child>h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
}

.intro section:first-child>p {
    line-height: 2rem;
    font-size: 1.3rem;
    margin-top: 1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
}

.intro section>div {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}

.intro section>div a {
    display: inline-block;
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

.intro section>a:hover {
    background-color: #eee;
    color: rgb(38, 44, 67);
    padding: 1rem 2.5rem;
    border-radius: 5px;
}

.intro .img-here {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .img-here>section {
    border: 40px solid white;
    border-radius: 15px;
    margin-bottom: 4rem;
    padding: 8rem 4rem;
    width: 37.5rem;
    background-color: rgb(219, 221, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .img-here section>section {
    width: 13rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(38, 44, 67);
    border-radius: 3px;
}

.intro section:last-child>i {
    font-size: 2rem;
}

.companies {
    display: flex;
    justify-content: end;
    padding: 4rem 7rem;
}

.companies i {
    font-size: 4rem;
    width: 7rem;
    height: 4rem;
    color: rgb(147, 144, 144);
}

body>section:nth-child(4) {
    display: flex;
    align-items: center;
    padding: 0 7rem;
}

section:nth-child(4) .marketing-content {
    margin-right: 6rem;
    margin-top: 2.5rem;
    width: 45%;
}

section:nth-child(4) .marketing-content p {
    line-height: 2rem;
    font-size: 17px;
    margin-bottom: 1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color: rgb(147, 144, 144);
}

section:nth-child(4) .marketing-content a {
    text-decoration: none;
    display: inline-block;
    color: #eee;
    background-color: rgb(38, 44, 67);
    border-radius: 3px;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    margin: 4rem 0;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

section:nth-child(4) section>span {
    text-transform: uppercase;
    color: rgb(147, 144, 144);
    font-weight: bold;
    font-size: 15px;
}

section:nth-child(4) section>h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

section:nth-child(4) section>h3 {
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
}

.img-portion {
    display: flex;
    background-color: rgb(219, 221, 233);
    color: rgb(38, 44, 67);
    height: 12.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Heebo', sans-serif;
    border-radius: 5px 5px 0 0;

}

.img-portion i {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.img-portion p {
    font-family: 'Cairo', sans-serif;
}

.img-portion:hover {
    background-color: rgb(38, 44, 67);
    color: #eee;
    cursor: pointer;
}

section:nth-child(4) .four-part-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}

.four-part-gallery>section {
    width: 38%;
    margin: 1.5rem;
    border-radius: 5px;
}

.content-portion {
    margin: 1rem 1.5rem;
}

.content-portion h3 {
    font-size: 14px;
    text-align: center;
    margin-bottom: .5rem;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(38, 44, 67);
}

.content-portion p {
    font-size: 14px;
    line-height: 1.2rem;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    color: rgb(147, 144, 144);
    font-weight: bold;
}

.advertising,
.create-account {
    display: flex;
    margin: 12rem 6rem;
}

.advertising .img-here,
.create-account .img-here {
    background-color: rgb(219, 221, 233);
    width: 35rem;
    height: 32rem;
    margin-right: 7rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advertising .img-here>section,
.create-account .img-here>section {
    height: 8rem;
    width: 12rem;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(38, 44, 67);
    border-radius: 3px;
    font-size: 1.2rem;
}

.advertising .img-here>section i,
.create-account .img-here>section i {
    margin-bottom: 1rem;
}

.advertising .img-here>section p,
.create-account .img-here>section p {
    font-family: 'Cairo', sans-serif;
}

.solution-based,
.create-account-content {
    width: 45%;
}

.advertising .solution-based span,
.create-account-content span,
.core span,
.uber>span {
    text-transform: uppercase;
    color: rgb(147, 144, 144);
    font-weight: bold;
    font-size: 14px;
}

.advertising .solution-based h2,
.create-account-content h2,
.core h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.advertising .solution-based p,
.create-account-content p {
    line-height: 2rem;
    font-size: 17px;
    margin-bottom: 1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color: rgb(147, 144, 144);
}

.advertising .solution-based>a,
.create-account-content>a {
    text-decoration: none;
    display: inline-block;
    color: #eee;
    background-color: rgb(38, 44, 67);
    border-radius: 3px;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    margin: 4rem 0;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

.how-it-works {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.how-it-works h2 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(38, 44, 67);
    font-size: 2rem;
}

.how-it-works p {
    line-height: 1.8rem;
    font-family: 'Heebo', sans-serif;
    color: rgb(147, 144, 144);
    font-weight: bold;
    font-size: 1.2rem;
}

.fa-circle-chevron-left,
.fa-circle-chevron-right {
    font-size: 3rem;
    color: rgb(38, 44, 67);
    margin: .8rem;
}

.create-account .response-rate {
    margin: 0;
    padding: 0;
    display: flex;
}

.response-rate h5,
.card h5 {
    height: 1.6rem;
    width: 1.6rem;
    border: 3px solid rgb(38, 44, 67);
    border-radius: 5px;
    margin-right: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.response-rate h4,
.card h4 {
    text-transform: uppercase;
    /* font-family: 'Titillium Web', sans-serif; */
    font-family: 'Cairo', sans-serif;
}

.response-rate p,
.card p {
    font-family: 'Heebo', sans-serif;
}

.view-works {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-works a {
    text-decoration: none;
    display: inline-block;
    color: #eee;
    background-color: rgb(38, 44, 67);
    border-radius: 3px;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

.core {
    width: 25%;
    margin-left: 7rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.card {
    background-color: rgb(248, 248, 248);
    height: 12.5rem;
    width: 25rem;
    border-radius: 8px;
    margin: 1.5rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.first-deck,
.second-deck {
    background-color: rgb(38, 44, 67);
    display: flex;
}

.first-deck {
    height: 15rem;
    padding-top: 2rem;
}

.second-deck {
    height: 24rem;
    padding-top: 2.5rem;
}

.first-deck .card {
    left: 5rem;
}

.second-deck .card {
    right: 5rem;
}

.first-deck section:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.love {
    display: flex;
    padding: 7rem;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.arrow {
    margin: 0 .5rem;
}

.uber {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 6rem;
    align-items: center;
    text-align: center;
}

.uber p {
    font-size: 24px;
    line-height: 2.5rem;
    margin: 1rem 0;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color: rgb(130, 129, 129);
}

.uber h4 {
    text-transform: uppercase;
    margin-bottom: .5rem;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: rgb(38, 44, 67);
    font-size: 1.2rem;
}

.uber h5 {
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    color: rgb(130, 129, 129);
}

.uber .ceo-uber {
    display: flex;
    align-items: center;
}

.uber section h3 {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgb(219, 221, 233);
    margin-right: .5rem;
}

.place-order {
    display: flex;
    justify-content: center;
    background-color: rgb(38, 44, 67);
    padding: 0 7rem;
}

.place-order-content {
    margin: 3rem;
}

.place-order-content span {
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
    font-size: .9rem;
    color: rgb(147, 144, 144);
    font-weight: bold;
}

.place-order-content h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #eee;
    font-weight: 300;
    font-size: 2rem;
}

.content-buttons {
    margin: 3rem;
    display: flex;
    align-items: center;
}

.content-buttons a {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    padding: 1rem 2.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.2rem;
    margin: 1rem;
}

.content-buttons a:hover {
    background-color: #eee;
    color: rgb(38, 44, 67);
}

footer {
    padding: 3rem 7rem;
    display: flex;
    justify-content: center;
}

footer section {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

footer section span {
    text-transform: uppercase;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    color: rgb(38, 44, 67);
    margin: 0 .5rem;
}

footer section p {
    margin: 0 .5rem;
    color: rgb(147, 144, 144);
}

footer section a {
    text-decoration: none;
    color: rgb(147, 144, 144);
    margin: .5rem;
    font-family: 'Cairo', sans-serif;
}

footer section a:hover {
    color: rgb(38, 44, 67);
}

footer .logo-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer section a>span {
    height: 1.6rem;
    width: 1.6rem;
    border: 3px solid rgb(38, 44, 67);
    border-radius: 5px;
    margin-right: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* footer .products {} */


/* section:nth-child(4) .four-part-gall section {
    display: flex;
    border: 1px solid red;
} */

/* To skew the a container:
HTML:
<section class="container">
    <div class="one">
        <h1>Section 1</h1>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam suscipit ea dolore a sed,
                quam quae ! Harum voluptate consectetur laborum beatae,
                aut odit mollitia molestiae earum eligendi natus nulla deleniti?
        </p>
    </div>
</section>


CSS:
.one {
    background-color: #FF9F1C;
    height: 600px;
    transform: skew(0deg, -10deg);
}

.one .container {
    transform: skew(0deg, 10deg);
    padding-top: 200px;
}
 */

/* 480px, 768px, 992px, and 1200px respectively are the most commonly used screen sizes/media queries */
@media screen and (max-width: 1300px) {

    /* .intro section>div {
        padding: 1.15rem;
        margin-top: 1rem;
    } */
    .intro section div>a {
        padding: 1rem;
    }

}

@media screen and (max-width: 992px) {
    header {
        padding: 0 5rem;
    }

    header nav ul>li {
        margin: 1.15rem;
    }

    .sign-up a {
        padding: 1rem 1.25rem;
    }

    .intro {
        padding: 5rem 5rem 0 5rem;
    }

    .intro section:first-child>h1 {
        font-size: 2.25rem;
    }

    .intro section:first-child>p {
        font-size: 1.2rem;
    }

    .intro section div>a {
        padding: .5rem 1.5rem;
        margin-top: 1rem;
    }

    .intro .img-here {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro .img-here>section {
        border: 40px solid white;
        border-radius: 15px;
        margin-bottom: 4rem;
        padding: 8rem 4rem;
        width: 30.5rem;
        background-color: rgb(219, 221, 233);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro .img-here section>section {
        width: 13rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(38, 44, 67);
        border-radius: 3px;
    }

    .intro section:last-child>i {
        font-size: 2rem;
    }


}

@media screen and (max-width: 768px) {
    header nav ul>li {
        display: none;
    }

    .hamburger {
        display: block;
    }

}

@media screen and (max-width: 480px) {}